.form {
    display: flex;
    background-color: white;
    padding: 10px;
}

@media (max-width: 768px) {
    .form {
        flex-wrap: wrap;
    }
}

.form__button {
    color: white;
    background-color: teal;
    border: teal;
    margin: 10px;
    padding: 10px;
    transition: background 1s, transform 1s linear;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .form__button {
        width: 100%;
        margin: 5px;
    }
}

.form__input {
    overflow: auto;
    flex-grow: 1;
    margin: 10px;
    padding: 5px;
}

@media (max-width: 768px) {
    .form__input {
        margin: 5px;
    }
}