.task__content {
    display: flex;
    gap: 5px;
    border-bottom: 2px solid #ccc;
    align-items: center;
    padding: 10px 10px;
}

.task__content--done {
    text-decoration: line-through;
}

.task__content--text {
    flex-grow: 1;
}

.tasks__content--hidden {
    display: none;
}

.button__done {
    align-content: flex-start;
    flex-shrink: 0;
    color: white;
    width: 25px;
    height: 25px;
    border-style: none;
    background-color: green;
    transition: 1s;
}

.button__done:focus {
    border: 2px solid hsl(0, 0%, 20%);
}

.button__done:hover {
    background-color: hsl(120, 100%, 30%);
}

.button__remove {
    align-content: flex-end;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    border-style: none;
    background-color: red;
    transition: 1s;
}

.button__remove:focus {
    border: 2px solid hsl(0, 0%, 20%);
}

.button__remove:hover {
    background-color: hsl(0, 100%, 65%);
    transform: rotate(180deg);
}

.button__remove--icon {
    color: white;
}

.buttons__button {
    font-size: 18px;
    color: teal;
    background: none;
    border: none;
    transition: color 1s, transform 1s linear;
}

.buttons__button:hover {
    color: hsl(180, 100%, 30%);
}

.buttons__button:disabled {
    color: #ccc;
}

@media (max-width: 768px) {
    .buttons__button {
        display: grid;
        justify-items: center;
        margin: 5px;
    }
}