html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: hsl(0, 0%, 90%);
    margin: 10% auto;
    max-width: 768px;
}

@media (max-width: 768px) {
    .body {
        margin: 5%;
    }
}
.header {
    font-family: 'Montserrat', sans-serif;
}