html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: hsl(0, 0%, 90%);
    margin: 10%;
    max-width: 768px;
}

.header {
    font-family: 'Montserrat', sans-serif;
}